# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# VS Code settings
.vscode/

# Logs
*.log

# OS junk files
.DS_Store
Thumbs.db

# Environment files
.env
config.py
