CREATE DATABASE flight_simulator;
USE flight_simulator;

CREATE TABLE airlines (
  airline_id INT NOT NULL,
  airline_name VARCHAR(50) NOT NULL,
  headquarters VARCHAR(100) DEFAULT NULL,
  contact_no VARCHAR(20) DEFAULT NULL,
  PRIMARY KEY (airline_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

INSERT INTO airlines VALUES 
(1,'Air India','New Delhi','011-24092222'),(2,'IndiGo','Gurgaon','0124-6173838'),
(3,'SpiceJet','Hyderabad','040-2345678'),(4,'Vistara','Gurgaon','0124-4581111'),
(5,'GoAir','Mumbai','022-5556789'),(6,'Emirates','Dubai','+971-4-7081111'),
(7,'Qatar Airways','Doha','+974-40230000'),(8,'Singapore Airlines','Singapore','+65-62235555'),
(9,'British Airways','London','+44-8444930787'),(10,'Lufthansa','Frankfurt','+49-69-86799800');

CREATE TABLE airline_tiers (
  airline_id INT NOT NULL,
  tier_level ENUM('Basic','Premium','Luxury') DEFAULT NULL,
  tier_factor DECIMAL(4,2) DEFAULT NULL,
  PRIMARY KEY (airline_id),
  CONSTRAINT airline_tiers_ibfk_1 FOREIGN KEY (airline_id) REFERENCES airlines(airline_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

INSERT INTO airline_tiers VALUES 
(1,'Premium',0.10),(2,'Basic',0.05),(3,'Basic',0.04),(4,'Premium',0.08),
(5,'Basic',0.03),(6,'Luxury',0.20),(7,'Luxury',0.20),(8,'Luxury',0.18),
(9,'Luxury',0.22),(10,'Luxury',0.25);

CREATE TABLE domestic_flights (
  flight_id INT NOT NULL,
  flight_no VARCHAR(10) DEFAULT NULL,
  airline_id INT DEFAULT NULL,
  origin VARCHAR(50) DEFAULT NULL,
  destination VARCHAR(50) DEFAULT NULL,
  departure DATETIME DEFAULT NULL,
  arrival DATETIME DEFAULT NULL,
  base_fare DECIMAL(10,2) DEFAULT NULL,
  total_seats INT DEFAULT NULL,
  seats_available INT DEFAULT NULL,
  PRIMARY KEY (flight_id),
  UNIQUE KEY flight_no (flight_no),
  KEY airline_id (airline_id),
  CONSTRAINT domestic_flights_ibfk_1 FOREIGN KEY (airline_id) REFERENCES airlines(airline_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;


CREATE TABLE international_flights (
  intl_id INT NOT NULL,
  flight_no VARCHAR(10) DEFAULT NULL,
  airline_id INT DEFAULT NULL,
  origin VARCHAR(50) DEFAULT NULL,
  destination VARCHAR(50) DEFAULT NULL,
  departure DATETIME DEFAULT NULL,
  arrival DATETIME DEFAULT NULL,
  base_fare DECIMAL(10,2) DEFAULT NULL,
  total_seats INT DEFAULT NULL,
  seats_available INT DEFAULT NULL,
  requires_visa ENUM('Y','N') DEFAULT 'Y',
  PRIMARY KEY (intl_id),
  UNIQUE KEY flight_no (flight_no),
  KEY airline_id (airline_id),
  CONSTRAINT international_flights_ibfk_1 FOREIGN KEY (airline_id) REFERENCES airlines(airline_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;


CREATE TABLE passengers (
  passenger_id INT NOT NULL,
  full_name VARCHAR(60) NOT NULL,
  nationality VARCHAR(40),
  passport_no VARCHAR(20),
  visa_status ENUM('Valid','Expired','N/A') DEFAULT 'N/A',
  contact_no VARCHAR(15),
  email VARCHAR(80),
  PRIMARY KEY (passenger_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

INSERT INTO passengers VALUES
(1, 'Rahul Mehta', 'Indian', NULL, 'N/A', '9876543210', 'rahul@gmail.com'),
(2, 'Priya Iyer', 'Indian', NULL, 'N/A', '9823456789', 'priya@gmail.com'),
(3, 'Arjun Singh', 'Indian', 'P1234567', 'Valid', '9898989898', 'arjun@gmail.com'),
(4, 'Sana Ali', 'Indian', 'P9988776', 'Expired', '9811223344', 'sana@gmail.com'),
(5, 'Ravi Menon', 'Indian', NULL, 'N/A', '9900990099', 'ravi@gmail.com');

CREATE TABLE bookings (
  booking_id INT NOT NULL,
  passenger_id INT NOT NULL,
  flight_type ENUM('DOMESTIC','INTERNATIONAL') DEFAULT NULL,
  flight_ref_id INT NOT NULL,
  booking_date DATETIME DEFAULT CURRENT_TIMESTAMP,
  seat_no VARCHAR(5) DEFAULT NULL,
  status VARCHAR(20) DEFAULT 'CONFIRMED',
  PRIMARY KEY (booking_id),
  KEY passenger_id (passenger_id),
  CONSTRAINT bookings_ibfk_1 FOREIGN KEY (passenger_id) REFERENCES passengers(passenger_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

INSERT INTO bookings VALUES 
(1,1,'DOMESTIC',2,'2025-10-18 16:16:45','A12','CONFIRMED'),
(2,3,'INTERNATIONAL',102,'2025-10-18 16:16:45','B05','CONFIRMED'),
(3,2,'DOMESTIC',7,'2025-10-18 16:16:45','C18','CONFIRMED');

CREATE TABLE payments (
  payment_id INT NOT NULL,
  booking_id INT NOT NULL,
  amount DECIMAL(10,2),
  payment_mode VARCHAR(20),
  status VARCHAR(20) DEFAULT 'SUCCESS',
  payment_date DATETIME DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (payment_id),
  KEY booking_id (booking_id),
  CONSTRAINT payments_ibfk_1 FOREIGN KEY (booking_id) REFERENCES bookings(booking_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

INSERT INTO payments VALUES
(1,1,7800,'UPI','SUCCESS','2025-10-18 16:16:45'),
(2,2,19500,'Credit Card','SUCCESS','2025-10-18 16:16:45'),
(3,3,8200,'Net Banking','SUCCESS','2025-10-18 16:16:45');

CREATE TABLE visa_checks (
  visa_id INT NOT NULL,
  passenger_id INT,
  flight_id INT,
  visa_verified ENUM('Y','N'),
  verification_date DATETIME DEFAULT CURRENT_TIMESTAMP,
  remarks VARCHAR(100),
  PRIMARY KEY (visa_id),
  KEY passenger_id (passenger_id),
  KEY flight_id (flight_id),
  CONSTRAINT visa_checks_ibfk_1 FOREIGN KEY (passenger_id) REFERENCES passengers(passenger_id),
  CONSTRAINT visa_checks_ibfk_2 FOREIGN KEY (flight_id) REFERENCES international_flights(intl_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

INSERT INTO visa_checks VALUES
(1,3,102,'Y','2025-10-18 16:16:45','Visa valid and verified'),
(2,4,104,'N','2025-10-18 16:16:45','Visa expired - not allowed to board');

CREATE TABLE fare_history (
  fare_id INT NOT NULL,
  flight_type VARCHAR(15),
  flight_no VARCHAR(10),
  timestamp DATETIME DEFAULT CURRENT_TIMESTAMP,
  old_fare DECIMAL(10,2),
  new_fare DECIMAL(10,2),
  demand_factor DECIMAL(5,2),
  remarks VARCHAR(100),
  PRIMARY KEY (fare_id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

INSERT INTO fare_history VALUES
(1,'DOMESTIC','AI201','2025-10-18 16:16:45',7200,7550,0.12,'Seats filling fast');

START TRANSACTION;

INSERT INTO passengers (passenger_id, full_name, email, contact_no, passport_no)
VALUES (4, 'Ananya Sharma', 'ananya@example.com', '9876543210', 'P1234567');

INSERT INTO bookings (booking_id, passenger_id, flight_type, flight_ref_id, booking_date, seat_no, status)
VALUES (4, 4, 'DOMESTIC', 3, NOW(), 'D10', 'CONFIRMED');

INSERT INTO payments (payment_id, booking_id, amount, payment_date, payment_mode)
VALUES (4, 4, 6100.00, NOW(), 'Credit Card');

COMMIT;

START TRANSACTION;

INSERT INTO passengers (passenger_id, full_name, email, contact_no, passport_no)
VALUES (5, 'Test User', 'testuser@example.com', '9999999999', 'P7654321');

INSERT INTO bookings (booking_id, passenger_id, flight_type, flight_ref_id, booking_date, seat_no, status)
VALUES (1, 5, 'DOMESTIC', 2, NOW(), 'A01', 'CONFIRMED');

ROLLBACK;


